$tiffany: #22A39F;
$bg-color-1: #F2EEDE;
$bg-color-2: #434242;
$bg-default: #E8E8E8;
$text-color: #3E3E3E;
$text-color-highlight: #FFC543;
$border-color: #D69F22;

$mobile-min: 600px;
$tablet-min: 800px;
$desktop-min: 1280px;
